@font-face {
    font-family:'Fontetest';
    src: url('fonts/La\ Machine\ Company.ttf') format('opentype'), url ('fonts/La\ Machine\ Company.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Fontetest';
    src: url('fonts/La\ Machine\ Company.ttf') format('opentype'), url ('fonts/La\ Machine\ Company.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}